<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/basic.css">
    <link rel="stylesheet" href="/styles/categoryPage.css">
    <title>Document</title>
</head>
<body>
    <nav class="navigation">
        <div class="logo"><a href="/">Frutti</a></div>
        <div class="middle-nav">
            <input type="text" placeholder="Search">
        </div>
        <div class="right-nav">
            <div class="products"><a href="/products">Products</a></div>
            <div class="categories"><a href="/categories">Categories</a></div>
        </div>

    </nav>
    <main>
        <div class="form-container">
            <form class="form-add" action="/categories" method="POST">
                <label for="category">Category name:</label>
                <input type="text" required id="category" name="category">
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
        <div class="category-title">
            <div><span>Categories</span>  </div>
            <button class="add">Add category +</button>
        </div>
        <div class="categories-flex">
            <div class="single-category">Fruits</div>
            <div class="single-category">Vegetables</div>
            <div class="single-category">Beverages</div>
            <div class="single-category">Meat</div>
            <div class="single-category">Seafood</div>
            <div class="single-category">Dairy</div>
            <div class="single-category">Grains and Cereals</div>
            <div class="single-category">Frozen Foods</div>
        </div>
        
    </main>

    <footer>&copy; 2025 hubfrt1337 | The Odin Project </footer>
    <script src="/category.js"></script>
</body>
</html>