.categories-flex{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    gap: 20px;
    margin: auto;
    margin-top: 1rem;
}
.single-category{
    height: 110px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--third);
    padding: 1rem;
    border-radius: 1rem;
}

.categories-flex div:nth-child(1){
    background-color: yellow;
}
.categories-flex div:nth-child(2){
    background-color: green;
}
.categories-flex div:nth-child(3){
    background-color: rgb(220, 220, 240)
}
.categories-flex div:nth-child(4){
    background-color: rgb(243, 83, 83);
}
.categories-flex div:nth-child(5){
    background-color: blue;
}
.categories-flex div:nth-child(6){
   background-color: rgb(210, 232, 233);
}
.categories-flex div:nth-child(7){
    background-color: burlywood;
}
.categories-flex div:nth-child(8){
    background-color: rgb(0, 217, 255);
}

.category-title{
    display: flex;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
}
.add{
    border: none;
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
}
.add:hover{
    background-color: rgb(20, 214, 20);
}

.categories-flex div:hover {
    opacity: 0.6;
    cursor: pointer;
}



/*  from styles */

.form-container{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid var(--third);
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
    


}

.form-add{
    padding: 1rem;
    width: 400px;
    background-color: var(--secondary);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}


#category{
    margin-bottom: 1rem;
    width: 200px;
    display: block;
}

.submit{
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    border: none;
    align-self: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(20, 214, 20);
}