.categories-flex{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    gap: 20px;
    margin: auto;
    margin-top: 1rem;
}
.single-category{
    height: 110px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--third);
    padding: 1rem;
    border-radius: 1rem;
}

.categories-flex div:nth-child(1){
    background-color: yellow;
}
.categories-flex div:nth-child(2){
    background-color: green;
}
.categories-flex div:nth-child(3){
    background-color: rgb(220, 220, 240)
}
.categories-flex div:nth-child(4){
    background-color: rgb(243, 83, 83);
}
.categories-flex div:nth-child(5){
    background-color: blue;
}
.categories-flex div:nth-child(6){
   background-color: rgb(210, 232, 233);
}
.categories-flex div:nth-child(7){
    background-color: burlywood;
}
.categories-flex div:nth-child(8){
    background-color: rgb(0, 217, 255);
}

.category-title{
    display: flex;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
}
.add{
    border: none;
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
}
.add:hover{
    background-color: rgb(20, 214, 20);
}

.categories-flex div:hover {
    opacity: 0.6;
    cursor: pointer;
}


