:root {
    --primary: #ADF7B6;
    --secondary: #FCF5C7;
    --third: #FFC09F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
/* navigation styles */

.navigation{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(var(--primary), rgb(76, 199, 76));
    padding: 1.5rem;
    gap: 1rem;
    align-items: center;
}
.logo{
    font-size: 2rem;
}

.middle-nav{
    flex: 1;
    max-width: 500px;
}

input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    max-width: 500px;
}

.right-nav{
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.products:hover,
.categories:hover{
    cursor: pointer;
    color: white;
}

main{
    width: 90vw;
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 2rem;
    flex: 1;
}
.container{
    display: grid;
    gap: 1rem;
}
.info{
    text-align: center;
}
.prod,
.cat{
    position: relative;
    width: 800px;
    font-size: 3rem;
    padding: 3rem;
    border-radius: 5rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    
    
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    object-fit: cover;
    pointer-events: none;
    inset: 0;
    border-radius: 3rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.prod:hover .bg{
    opacity: 0.7;
    box-shadow: 2px 2px 2px rgba(var(--primary) 0.5);
    
}
.cat:hover .bg{
    opacity: 0.7;
}


/* Footer styles */

footer{
    padding: 1rem;
    background-color: var(--secondary);
    text-align: center;
    font-weight: bold;
}