
.container{
    display: grid;
    gap: 1rem;
}

.prod,
.cat{
    position: relative;
    width: 800px;
    font-size: 3rem;
    padding: 3rem;
    border-radius: 5rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    
    
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    object-fit: cover;
    pointer-events: none;
    inset: 0;
    border-radius: 3rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all linear 0.5s;
}


.prod:hover .bg{
    opacity: 0.7;
    box-shadow: 2px 2px 2px rgba(var(--primary) 0.5);
    
}
.cat:hover .bg{
    opacity: 0.7;
}

main{
    width: 100%;
}

.text-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
    background-image: url("/food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    opacity: 1;
    background-blend-mode:hard-light;
}
.text-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.info{
    z-index: 1;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    width: 70vw;
    max-width: 800px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    opacity: 1;
}