main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.filters{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-right: 2px solid var(--secondary);
    height: 100vh;
    position: sticky;
    top: 0;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;

}

.filter-category{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

.filter-category:hover{
    cursor: pointer;
    background-color: var(--secondary);
}

.food-products-container{
    padding-left: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1rem;
    grid-template-rows: 200px;
    
}

.single-food-product{
    height: 200px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


.product-image{
    height: 80px;
    width: auto;
    margin: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}