main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.filters{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-right: 2px solid var(--secondary);
    height: 100vh;
    position: sticky;
    top: 0;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;

}

.filter-category{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

.filter-category:hover{
    cursor: pointer;
    background-color: var(--secondary);
}

.food-products-container{
    padding-left: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1rem;
    grid-template-rows: 200px;
    margin-bottom: 2em;
    
}

.single-food-product{
    height: 200px;
    max-width: 300px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


.product-image{
    height: 80px;
    width: auto;
    margin: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.add-product{
    padding: 0.5rem 1rem;
    max-width: 150px;
    background-color: var(--primary);
    border-radius: 0.5rem;
    border: none;
    align-self: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.add-product:hover{
    background-color: rgb(20, 214, 20);
}


/* form styles */
.form-container{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid var(--third);
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
    


}

.form-add{
    padding: 1rem;
    width: 400px;
    background-color: var(--secondary);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}
input{
    margin-bottom: 1rem;
    width: 200px;
    display: block;
}
.select-container{
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
}
.submit,
input[type=file]{
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    border: none;
    align-self: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(20, 214, 20);
}
input[type=file]{
    font-size: 1rem;
}

.middle-input{
    margin: 0;
}